@value theme: "@/assets/css/theme.css";

@value danger-color, gray-color from theme;

.notice{
    background-color: #fff !important;
    color: gray-color !important;
}

.listButton{
    margin: 0 5px;
}