@value theme: "@/assets/css/theme.css";
@value danger-color, gray-color, primary-color, dark-gray-color, success-color, warning-color, background-gray-color from theme;

.roleList{
    height: 60px;
    border: 0 solid background-gray-color;
    border-bottom-width: 1px;
    border-top-width: 1px;
    background-color: #fff;

    width: 100%;
    overflow-x: auto;
}

.avatarWrapper{
    display: inline-block;
    height:100%;
    padding: 5px 10px;
    text-align: center;
}