@value theme: "@/assets/css/theme.css";
@value danger-color, gray-color, dark-gray-color, primary-color, dark-gray-color, success-color, warning-color, background-gray-color from theme;

.roleList{
    height: 40px;
    border: 0 solid background-gray-color;
    border-bottom-width: 1px;
    border-top-width: 1px;
    background-color: #fff;

    width: 100%;
    white-space: nowrap;
    position: relative;
}
.roleListContainer::-webkit-scrollbar{
    display:none;
}
.roleListContainer{
    width: 100%;
    overflow-x: auto;
}
.roleImg{
    height:24px;
    width:24px;
    border-radius:12px;
    border:1px solid #f5f5f9;
    object-fit:cover
}
.roleTriangle{
    position: relative;
}
.roleTriangle::after {
    content: '';
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
    border-bottom: 0.5rem solid gray-color;
    opacity: 0.3;
    position: absolute;
    bottom: -6px;
    left: 48%;
    transform: translateX(-50%);
    z-index: 100;
}

.avatarWrapper{
    display: inline-block;
    height: calc(100% - 10px);
    padding: 5px 10px;
    text-align: center;
}

.contentView{
    background: #fff;
    padding: 10px 10px;
    position: relative;
}

.resetButton{
    width:  30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}
.resetButtonBackground{
    position: absolute;
    width:  60px;
    height: 60px;
    border-radius: 30px;
    background: primary-color;

    top: -30px;
}
.resetButtonX{
    position: relative;
    top: 30px;
    left: 8px;
}

.storyContainer{
    background: #fff;
    position: relative;
}

.bottomBarWrapper{
    height: 40px;
    border: 0 solid background-gray-color;
    border-top-width: 1px;
    background-color: #fff;

    width: 100%;
}

.bottomBarButton{
    height: calc(100% - 6px);
    width: 40px;
    padding: 3px;

    justify-content: space-around;
    align-items: center;
    font-size: 12px;

    color: gray-color;
}
.bottomBarButtonActive{
    color:primary-color;
}

.bottomBarPrimaryButton{
    height:  100%;
    padding: 0 20px;
    background-color: primary-color;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
}

.bottomBarPrimaryButtonInactive{
    background-color: dark-gray-color;
}

.bottomBarSearchButton{
    background-color: warning-color;
}

.drawer{
    position: relative;
    flex: 1;
}

.activeStageInDrawer{
    background-color: primary-color;
    color: #fff;
}

.searchOverviewBox div:nth-child(n+1) {
    padding-top: 5px;
}

.clueFilterWrapper{
    padding: 10px 0;
}

.clueFilterTag{
    border-radius: 12.5px!important;
}
.clueFilterTag::before{
    border-radius: 25px!important;
}


.clueFilterTag:not(:first-child){
    margin-left: 15px;
}

.clueFilterTagActive{
    background: primary-color!important;
    color:#fff!important;
    border-color: primary-color!important;
}