@value theme: "@/assets/css/theme.css";

@value danger-color, gray-color, primary-color, dark-gray-color from theme;

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

html, body, #root {
    height: 100%;
}

body {
    margin: 0;
}

/*文本样式*/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/*自由换行*/
.free-break {
    word-wrap: break-word;
    word-break: break-all;
}

.error-text {
    color: danger-color !important;
}

.gray-text {
    color: gray-color !important;
}

.dark-gray-text{
    color: dark-gray-color !important;
}

.primary-text {
    color: primary-color !important;
}

/*flex 布局样式*/
.flex-container {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
}

/*功能性*/
.clickable {
    cursor: pointer;
}

.clickable:hover {
    opacity: 0.4;
}

.clickable:active {
    opacity: 0.2;
}

.container{
    width: 100%;
    height: 100%;
}

