@value theme: "@/assets/css/theme.css";

@value danger-color, gray-color, primary-color, dark-gray-color, success-color from theme;

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/draft-js/dist/Draft.css";

html, body, #root {
    height: 100%;
}

body {
    margin: 0;
}

/*文本样式*/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/*自由换行*/
.free-break {
    word-wrap: break-word;
    word-break: break-all;
}

.error-text {
    color: danger-color !important;
}

.gray-text {
    color: gray-color !important;
}

.dark-gray-text{
    color: dark-gray-color !important;
}

.primary-text {
    color: primary-color !important;
}

.success-text {
    color: success-color !important;
}

.sm-text{
    font-size: 14px;
}

/*flex 布局样式*/
.flex-container {
    display: flex;
}

.flex-column-container{
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
}

/*功能性*/
.clickable {
    cursor: pointer;
}


.clickable:active {
    opacity: 0.2;
}

.container{
    width: 100%;
    height: 100%;
}


/*light toast*/
@keyframes light-toast-animation {
    0%   {opacity: 0; transform: translate(200px,0);}
    25%  {opacity: 1; transform: translate(0px,0);}
    75%  {opacity: 1; transform: translate(0px,0);}
    100% {opacity: 0; transform: translate(200px,0);}
}
.my-light-toast{
    background-color: rgba(0,0,0,0.6);
    padding: 8px;
    border-radius: 3px;

    position: fixed;
    top: 60px;
    right: 10px;
    transform: translate(200px,0);
    opacity: 0;

    color:#fff;
    animation: light-toast-animation 2s;
    z-index: 100;
}

/*小标题*/
.title-row{
    padding-left: 10px;
    border: 0 solid primary-color;
    border-left-width: 4px;

}

.title-row .subtitle{
    font-size: 14px;
    padding-left: 5px;
}

/*重写红色X的checkbox样式*/
.closed-checkbox span:not(.am-checkbox-checked) .am-checkbox-inner:after{
    transform: none;
    display: block;
    content:'x';
    color:#fff;
    background-color: danger-color;
    border-width: 0;
    left:6px;
    top: -2px;
    width:0;
    height:0;
    font-size: 15px;
}
.closed-checkbox  .am-checkbox-inner{
    border-color: danger-color;
    background-color: danger-color;
}


